version: '3.8'

services:
  app:
    build: .
    container_name: smartlogi-app
    ports:
      - "8084:8084"
    environment:
      SPRING_PROFILES_ACTIVE: prod

      # Database
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/smrt
      SPRING_DATASOURCE_USERNAME: smartlogi
      SPRING_DATASOURCE_PASSWORD: smartlogi123
      SPRING_JPA_HIBERNATE_DDL_AUTO: update

      # Frontend
      APP_FRONTEND_BASE_URL: http://localhost:4200

      # OAuth2
      # ⚠️ Volontairement NON définis ici
      # Ils seront injectés par Jenkins (build args / env)
      # OAUTH2_OKTA_CLIENT_ID
      # OAUTH2_OKTA_CLIENT_SECRET
      # OAUTH2_OKTA_ISSUER_URI

    depends_on:
      db:
        condition: service_healthy
    networks:
      - smartlogi-network

  db:
    image: postgres:15-alpine
    container_name: smartlogi-db
    environment:
      POSTGRES_DB: smrt
      POSTGRES_USER: smartlogi
      POSTGRES_PASSWORD: smartlogi123
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - smartlogi-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U smartlogi -d smrt"]
      interval: 5s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@smartlogi.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    depends_on:
      - db
    networks:
      - smartlogi-network

  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    privileged: true
    user: root
    ports:
      - "9091:9090"
      - "50000:50000"
    volumes:
      - jenkins-data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - ./jenkins-config:/var/jenkins_config
    environment:
      CASC_JENKINS_CONFIG: /var/jenkins_config/jenkins.yaml
      JAVA_OPTS: -Djenkins.install.runSetupWizard=false
    networks:
      - smartlogi-network
    restart: always

networks:
  smartlogi-network:
    driver: bridge

volumes:
  postgres_data:
  jenkins-data:
